#animals {
    @include md {
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". animals .";
    }

    @include lg {
        grid-template-columns: auto 1024px auto;
    }

    >div {

        @include md {
            grid-area: animals;
        }

        h1 {}

        p {}

        ul {

            @include md {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas: "a1 a1 a2 a2"
                    "a1 a1 a3 a4"
                    "a1 a1 a5 a5";
                gap: 20px; 
            }



            li {

                img {
                    width: 100%;
                }

            }
        }
    }

    #a1 {
        align-items: flex-end;
        background-image: url("../img/animals/octopusphoto.jpg");
        background-position: center;
        background-size: 100%;
        display: flex;
        justify-content: flex-start;
        

        h2 {}

        p {}

        @include md {
            grid-area: a1;
            min-height: 320px;
        }
        @include lg {
            min-height: 540px; 
        }
        @include xl{
            min-height: 655px;
        }
    }

    #a2 {

        @include md {
            grid-area: a2;
        }
    }

    #a3 {
        @include md {
            grid-area: a3;
        }
    }

    #a4 {
        @include md {
            grid-area: a4;
        }
    }

    #a5 {
        @include lg {
            grid-area: a5;
        }
      
    }
}