#dailyschedule {
    padding-top: 40px;

    @include md {
        display: grid;
        grid-template-columns: 10px auto 10px;
        grid-template-areas: ". dailyschedule .";
        padding-top: 56px;
    }

    @include lg {
        grid-template-columns: auto 1024px auto;
        padding-top: 80px;
    }

    @include xl {
        padding-top: 96px;
    }

    >div {


        @include md {
            grid-area: dailyschedule;
        }

        h1 {
            text-align: center;
        }

        div {

            display: grid;
            grid-template-columns: 88px auto;
            grid-template-areas: "pic pic"
                "times dailyevents";

            @include md {
                grid-template-columns: repeat(3, 1fr);
                grid-template-areas: "pic times dailyevents";

            }

            aside {
                img {
                    padding-left: 72px;
                }

                h2 {
                    text-align: center;
                }
            }
            ul{
                li{
                   h2 {
                        font-size: rem-calc(18);
                        font-weight: 700;
                        color: $maastrichtblue;
                        text-align: right;
                        padding-right: 15px;
                        margin-bottom: 118px;
                    } 
                }
            }

            ul {
                li {
                    
                    h3 {

                        font-size: rem-calc(16);
                        font-weight: 700;
                        color: $bluetorusdark;
                    }

                    h4 {

                        font-style: italic;
                        font-size: rem-calc(16);
                        color: $bluetorusdark;
                    }


                }

            }

        }
    }

    #pic {

        grid-area: pic;
    }

    #times {

        grid-area: times;
    }


    #dailyevents {

        grid-area: dailyevents;

    }






}