#dailyschedule {
padding-top: 40px;
    @include md {
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". dailyschedule .";
        padding-top: 56px ;
    }

    @include lg {
        grid-template-columns: auto 1024px auto;
        padding-top: 80px;
    }
    @include xl{
        padding-top: 96px;
    }

    >div {

        @include md {
            grid-area: dailyschedule;
        }
        h1 {
            text-align: center;

        }

div{
        @include md {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: "pic times";
            gap: 106px;
        }
        aside{
            img{
                padding-left: 72px ;
            }
            
            h2{
                text-align: center;
            }
        }

        ul {
            li{
                h2{text-align: left;}
                h3{padding-left: 87px ;}
                h4{padding-left: 87px ;}
                button{margin-left: 87px ;}
            }

        }
       
    }
}

    #times {
        @include md {
            grid-area: times;
        }
    }

    #pic {
        @include md {
            grid-area: pic;
        }
    }




}