#hero {
    align-items: flex-end;
    background-image: url("../img/hero/herophoto.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    min-height: 250px;

    @include md {
        min-height: 400px;
        align-items: flex-end;
        justify-content: flex-start;
    }

    @include lg {
        min-height: 550px;
    }

    @include xl {
        min-height: 770px;
    }

    div {
        padding-bottom: 40px;
        padding-left: 10px;

        h1 {
            color: $bluetoruslight;
            font-size: rem-calc(28);
            font-weight: 700;
            margin-bottom: 8px;
            text-align: center;
        }

        p {
            display: none;
        }

    }

    #text {
        button {
            margin-left: 40px;
            padding-right: 50px;
            padding-left: 50px;
        }

        @include md {
            h1 {
                text-align: left;
                font-size: rem-calc(28);
            }

            p {
                text-align: left;
                font-size: rem-calc(16);
                font-weight: 400;
                margin-bottom: 16px;
                color: $bluetoruslight;
            }

            button {
                text-align: left;
                margin: 0;
            }

            #textmd {
                display: grid;
            }

            #textlg {
                display: none;
            }

            #textel {
                display: none;
            }
        }

        @include lg {
            h1 {
                font-size: rem-calc(36);
            }

            p {
                font-size: rem-calc(18);
            }

            #textmd {
                display: none;
            }

            #textlg {
                display: grid;
            }

            #textxl {
                display: none;
            }
        }


        @include xl {
            h1 {
                font-size: rem-calc(48);
            }

            p {
                font-size: rem-calc(21);
            }

            #textmd {
                display: none;
            }

            #textlg {
                display: none;
            }

            #textxl {
                display: grid;
            }
        }

    }
}