#hero{
    align-items: flex-end;
    background-image: url("../img/hero/herophoto.jpg");
    background-position: center;
    display: flex;
    justify-content: flex-start;
min-height: 770pt;
    #text{
h1{

}
p {

}

    }
}