#plan {
    background-color: $maastrichtbluedark;

    @include md {
        display: grid;
        grid-template-columns: 60px auto 60px;
        grid-template-areas: ". plan .";

    }

    @include lg {
        grid-template-columns: auto 1024px auto;
    }

    >div {
        padding-bottom: 24px;

        h1 {
            font-weight: 700;
            font-size: rem-calc(24);
            color: $bluetoruslight;
            text-align: center;
            padding-top: 10px;
        }

        ul {

            @include md {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-areas: "p1 p2 p2"
                    "p3 p3 p4";
                gap: 24px;
            }


            li {
                background-color: $bluetoruslight;

                ul {
                    li {
                        h2 {
                            display: none;
                        }

                        div {
                            i {
                                color: $maastrichtblue;
                            }
                        }

                        p {
                            color: $bluetorusdark;
                        }
                    }
                }
            }

            li {
                h2 {
                    text-align: center;
                    font-size: rem-calc(18);
                    font-weight: 700;
                    color: $maastrichtblue;
                    padding-top: 5px;
                    padding-left: 10px;
                }

                p {
                    padding-left: 10px;
                    padding-right: 10px;
                }

                button {
                    margin-bottom: 18px;
                    margin-left: 10px;
                }
            }

        }

        @include md {
            grid-area: plan;

            h1 {
                font-size: rem-calc(28)
            }

            ul {
                li {
                    h2 {
                        font-size: rem-calc(24)
                    }

                    p {
                        font-size: rem-calc(16)
                    }

                    i {
                        font-size: rem-calc(31);
                    }

                    a {
                        font-size: rem-calc(16)
                    }
                }
            }

        }

        @include lg {
            h1 {
                font-size: rem-calc(36)
            }

            ul {
                li {
                    h2 {
                        font-size: rem-calc(28)
                    }

                    p {
                        font-size: rem-calc(18)
                    }

                    a {
                        font-size: rem-calc(18)
                    }

                }
            }

        }

        @include xl {
            h1 {
                font-size: rem-calc(48)
            }

            ul {
                li {
                    h2 {
                        font-size: rem-calc(36)
                    }

                    p {
                        font-size: rem-calc(21)
                    }

                    a {
                        font-size: rem-calc(21)
                    }
                }
            }

        }
    }

    #information {
        ul {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-top: 5px;

            i {
                font-size: 31px;
                margin-bottom: 5px;
            }

            a {
                color: $berryblast;
            }
        }

        @include md {
            grid-area: p1;
            padding-top: 30px;

        }

        @include lg {
            padding-top: 35px;
        }

        @include xl {
            padding-top: 55px;
        }
    }

    #specialoffers {
        margin-left: 37.5px;
        margin-right: 37.5px;

        p {
            display: none;
        }

        button {
            padding-right: 60px;
            padding-left: 60px;
        }

        @include md {
            grid-area: p2;
            margin: 0;

            h2 {
                text-align: left;
            }

            p {
                display: block;
                text-align: justify;
            }
        }
    }

    #covid {
        margin-left: 37.5px;
        margin-right: 37.5px;

        p {
            display: none;
        }

        button {
            padding-right: 60px;
            padding-left: 60px;
        }

        @include md {
            grid-area: p3;
            margin: 0;

            h2 {
                text-align: left;
            }

            p {
                display: block;
                text-align: justify;
            }
        }
    }

    #tickets {
        margin-left: 37.5px;
        margin-right: 37.5px;

        p {
            display: none;
        }

        button {
            margin-left: 150px;
            padding-right: 60px;
            padding-left: 60px;
        }

        @include md {
            grid-area: p4;

            p {
                display: block;
                text-align: center;
            }

            button {
                margin-left: 15px;
            }

            margin: 0;
        }

        @include lg {
            grid-area: p4;

            p {
                text-align: center;
            }

            button {
                margin-left: 65px;
            }

            margin: 0;
        }
    }
}