#plan {

    @include md {
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". plan .";
        background-color: $maastrichtbluedark;
    }

    @include lg {
        grid-template-columns: auto 1024px auto;
    }

    >div {

        @include md {
            grid-area: plan;
        }

        h1 {}

        ul {

            @include md {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-areas: "p1 p2 p2"
                    "p3 p3 p4";
                gap: 16px;
            }


            li {}

        }
    }

    #information {
        @include md {
            grid-area: p1;
        }
    }

    #specialoffers {
        @include md {
            grid-area: p2;
        }
    }

    #covid {
        @include md {
            grid-area: p3;
        }
    }

    #tickets {
        @include md {
            grid-area: p4;
        }
    }
}