#plan {
    background-color: $maastrichtbluedark;

    @include md {
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". plan .";

    }

    @include lg {
        grid-template-columns: auto 1024px auto;
    }

    >div {

        @include md {
            grid-area: plan;
        }

        h1 {
            font-weight: 700;
            font-size: rem-calc(24);
            color: $bluetoruslight;
            text-align: center;
            padding-top: 10px ;
        }



        ul {

            @include md {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-areas: "p1 p2 p2"
                    "p3 p3 p4";
                gap: 16px;
            }


            li {
                background-color: $bluetoruslight;

                ul {
                    li {
                        h2 {
                            display: none;
                        }

                        div {
                            i {
                                color: $maastrichtblue;
                            }
                        }

                        p {
                            color: $bluetorusdark;
                        }
                    }
                }
            }

            li {
                h2 {
                    text-align: center;
                    font-size: rem-calc(18pt);
                    font-weight: 700;
                    color: $maastrichtblue;
                }

                p {
                    
                }

                button {
                  
                }


            }

        }
    }

    #information {
        @include md {
            grid-area: p1;
        }
    }

    #specialoffers {
        @include md {
            grid-area: p2;
        }
    }

    #covid {
        @include md {
            grid-area: p3;
        }
    }

    #tickets {
        @include md {
            grid-area: p4;
        }
    }
}