/* =============
    Footer
============= */
footer {
	padding: 16px;

	@include xl {
		display: grid;
		grid-template-areas: ". footer .";
		grid-template-columns: auto 1200px auto;
		background-color: $maastrichtbluedark;
	}

	>div {
		display: grid;
		gap: 24px;

		@include md {
			grid-template-areas: "socials . hours info";
			grid-template-columns: repeat(4, 1fr);
		}

		@include sm {
			grid-template-areas: "socials info";
			grid-template-columns: repeat(2, 1fr);
		}

		@include xl {
			grid-area: footer;
		}

		section {
			padding-top: 16px;
		}

		#info {
			@include md {
				grid-area: info;
			}

		}

		#hours {
			
			@include md {
				grid-area: hours;
			}
		}

		#social {
			@include md {
				grid-area: social;
				margin-top: -100px;
			}

			@include lg {
				margin-top: 0px;
			}

			ul {
				border: none;
				display: flex;

				@include lg {
					justify-content: flex-end;
				}

				li {
					margin-right: 16px;

					@include lg {
						margin-left: 16px;
						margin-right: 0px;
					}

					a:link,
					a:visited {
						color: $white;
						font-size: rem-calc(30);

						&:hover,
						&:active {
							
						}
					}
				}
			}
		}
	}
}