/* =============
    Header
============= */
header{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". header .";
	background-color: $maastrichtbluedark;


    >div{
		grid-area: header;
		display: grid;
		grid-template-areas:
				"logo . . social"
				"logo . . search";
			grid-template-columns: repeat(4fr);
	
	}

		#logo {
			grid-area:logo;
            width: 80px;

        img {
            @include md {
                width: 367px;
            }

            @include lg {
                width: 395px;
            }

			@include xl{ 
				width: 537px;
        }
    }
}


#social {
		grid-area:social;

	ul {
		border: none;
		display: flex;
		
		li {
		
		}
	}
}


#search{
	@include md {
		grid-area: search;
	}

	form {
		input {

			&::placeholder {
				/* Chrome, Firefox, Opera, Safari 10.1+ */
	
				/* Firefox */
				opacity: 1;
			}

			&:-ms-input-placeholder {
				/* Internet Explorer 10-11 */
				
			}

			&::-ms-input-placeholder {
				/* Microsoft Edge */
				
			}
		}

		button {
			display: flex;
			
		}
	}
}
}