/* =============
    Header
============= */
header {
	display: grid;
	grid-template-columns: 16px auto 16px;
	grid-template-areas: ". header .";
	background-color: $maastrichtbluedark;


	>div {
		grid-area: header;
		display: grid;
		grid-template-areas:
			"logo . . burger"
			"logo . . burger";
		grid-template-columns: repeat(4, 1fr);

		@include lg {
			grid-template-areas:
				"logo nav social"
				"logo nav search";
			grid-template-columns: repeat(3, 1fr);

		}
	}


	#logo {
		grid-area: logo;

		img {
			width: 150px;

			@include md {
				width: 300px;
			}

			@include lg {
				width: 350px;
			}

			@include xl {
				width: 500px;
			}
		}
	}


	#social {
		display: none;

		@include lg {
			display: flex;
			justify-content: flex-end;
			grid-area: social;

			li {
				padding: 10px;

				a {
					color: white;
				}

				a:link,
				a:visited {
					color: $white;
					font-size: rem-calc(30);

					&:hover,
					&:active {
						color: $black;
					}
				}
			}
		}

	}

	#search {
		display: none;

		@include lg {
			display: inline-block;
			text-align: right;
			grid-area: search;
		}

		form {
			position: relative;
		}

		input {
			background-color: $white;
			color: $maastrichtbluedark;
			border: 1pt $bluetorusdark;
			border-radius: 25px;
			padding: 5px 5px 5px 25px;
			z-index: 5;
			text-indent: 18px;


			&::placeholder {
				/* Chrome, Firefox, Opera, Safari 10.1+ */
				color: $maastrichtbluedark;
				/* Firefox */
				opacity: 1;
			}

			&:-ms-input-placeholder {
				/* Internet Explorer 10-11 */
				color: $maastrichtbluedark;
			}

			&::-ms-input-placeholder {
				/* Microsoft Edge */
				color: $maastrichtbluedark;
			}

			@include md {
				width: 175px;
			}

			@include lg {
				width: 235px;
			}

			@include xl {
				width: 355px;
			}

			input:focus {
				outline: none;
			}
		}

		button {
			position: absolute;
			width: 30px;
			height: 100%;
			border-radius: 25px;
			background-color: white;
			border: none;

			i {
				color: $berryblast;
			}
		}
	}


	#burger-container {
		align-items: center;
		display: flex;
		grid-area: burger;
		padding-left: 50px;
		color: white;

		@include lg {
			display: none;
		}

		i {
			cursor: pointer;
			font-size: rem-calc(30);
		}
	}

	#nav-container {
		display: none;
		grid-area: nav;
		padding: 25px 10px 10px;

		@include lg {
			display: block;
			color: white;

			ul {
				display: flex;
				justify-content: flex-end;

				li {
					text-align: center;
					padding-right: 15px;
					padding-top: 15px;

					a {
						color: white;
						font-size: rem-calc(16);
						font-weight: 400;
					}

				}
			}
		}
	}
}