/* =============
    Buttons
============= */
button {
    cursor: pointer;
}

.pink-button {
    background-color: $berryblast;
    color: $white;
    border: none;
    font-size: rem-calc(21);
    font-weight: 600;
    padding: 10px;
    transition: 0.25s;

    &:hover {
        background-color: $black;
        color: $white;
    }
}